*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
app-release.apk
baogetv_build3.apk
baogetv_build4.apk
baogetv_build5.apk
