<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.baogetv.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".BaoGeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.baogetv.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".model.homepage.HomePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.search.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.search.SearchResultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BaseTitleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.UserGradeDescActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.MyCacheActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.MyCollectActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.PlayHistoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.ResponseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.ThumbUpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.SystemNotifyAcitvity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.VideoLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.videodetail.activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service android:name=".downloader.DownloadService">
            <intent-filter>
                <action android:name="com.baogetv.app.downloader.DOWNLOAD_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".push.MyPushIntentService"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0e54ddf29d9817aa0000d7">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="367df8049e6d8f1cb4a9ef2a2e0cbf38">
        </meta-data>

        <activity android:name=".model.usercenter.activity.AreaChooseActivity">
        </activity>
        <activity
            android:name=".model.channel.ChannelDetailActivity"
            android:label="@string/title_activity_channel_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".model.usercenter.activity.NameModifyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.AdviceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.videodetail.activity.CommentDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.MobileChangeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".model.usercenter.activity.FindPasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".model.usercenter.activity.MemberDetailActivity">
        </activity>
        <activity android:name=".model.usercenter.activity.VideoPlayerActivity">
        </activity>
    </application>

</manifest>